[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
pysam = "*"
seaborn = "*"
matplotlib = "*"
filetype = "*"
click = "*"
numpy = "*"
requests = "*"
xmltodict = "*"
pybigwig = "*"
pandas = "*"
click-option-group = "*"
cairocffi = "*"
hicmatrix = "*"
loguru = "*"

[dev-packages]

[requires]
python_version = "3"
