adjusttext
asciitree
cairocffi
certifi
cffi
charset-normalizer
click
click-option-group
contourpy
cooler
cycler
cytoolz
dill
filetype
fonttools
h5py
hicmatrix
idna
intervaltree
kiwisolver
loguru
matplotlib
multiprocess
numexpr
numpy
packaging
pandas
pillow
pybigwig
pycparser
pyfaidx
pypairix
pyparsing
pysam
python-dateutil
pytz
pyyaml
requests
scipy
seaborn
setuptools
simplejson
six
sortedcontainers
tables
toolz
urllib3
xmltodict
